##Core Libraries

os

json

pickle

base64

re

## Streamlit (UI)

streamlit

## Data Handling

pandas

## Visualization

matplotlib

seaborn

## Resume Parsing / File Handling

pytesseract

pdf2image

PIL (Pillow → installed as pillow)

## Machine Learning (Model)

scikit-learn (sklearn)

## Extra ( used in resume_parser.py)

docx2txt (for DOCX extraction)

PyPDF2 or pdfminer.six 

rapidfuzz ( matching skills using fuzzy matching)

### Final requirements for project:

streamlit
pandas
matplotlib
seaborn
pillow
pdf2image
pytesseract
scikit-learn
docx2txt
PyPDF2
pdfminer.six
rapidfuzz